<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Car_Renting_Software.Properties.Settings.Car_Renting_DatabaseConnectionString"
            connectionString="Data Source=X-MK1;Initial Catalog=&quot;Car Renting Database&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Car_Renting_Software.Properties.Settings._291GroupProjectConnectionString"
            connectionString="Data Source=X-MK1;Initial Catalog=291GroupProject;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>